---
name: Release

on:
  release:
    types: [published]

jobs:
  release_zip_file:
    name: Prepare release asset
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - uses: pocket-apps/action-update-version@v1
        with:
          files: custom_components/apiEnedis/manifest.json, custom_components/apiEnedis/const.py
          version-regexp: \d+\.\d+\.\d+\.\d+
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      # Replaced with above step
      # - name: Get version
      #  id: version
      #  uses: home-assistant/actions/helpers/version@master
      # - name: Set version number
      #  run: >-
      #    python3
      #    ${{ github.workspace }}/.github/scripts/update_hacs_manifest.py
      #    --version ${{ steps.version.outputs.version }}
      # - uses: stefanzweifel/git-auto-commit-action@v4
      #  with:
      #   commit_message: \[Bot\] Release - version update ${{ steps.version.outputs.version
      #     }}
      #   commit_user_name: release
      #   commit_user_email: release@nill
      #   commit_author: release bot <release>

      - name: Create zip
        run: |
          cd custom_components/apiEnedis
          zip apiEnedis.zip -r ./
      - name: Upload zip to release
        uses: svenstaro/upload-release-action@v1-release
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./custom_components/apiEnedis/apiEnedis.zip
          asset_name: apiEnedis.zip
          tag: ${{ github.ref }}
          overwrite: true
